html {
    overflow-x: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image:url('../img/fondo.jpg');
}

header {
	align-items: center;
	background-color: #54575a !important;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-top: 15px;
}

a {
	text-decoration: none;
}

.root {
    margin: 3vw;
}

.message {
	text-align: center;
	/*color: rgba(0, 0, 0, 0.54) !important;*/
	color: #54575a !important; 
}

.defaultPaper {
	text-align: center;
	color: #020202 !important; 
}

.paper {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.defaultPaper {
	padding: 15px;
}

.title {
	font-size: 25px;
}

.buttonPrimary, .progressBar {
	display: flex;
  	justify-content: center;
	align-items: center;
	color: #020202 !important; 
}

.buttonPrimary, .message, .progressBar {
	margin: 10px;
	color: #020202 !important; 
}

.MuiTextField-root {
	width: 100%;
}

@media (max-width: 323px) {
	h1 {
		display: none;
	}
}

footer {
	text-align: center;
	font-family: sans-serif;
	background-color: #54575a;
	color: #fff;
	width: 100%;
	height: 50px;
	
	bottom: 0;
}